{% extends 'base/base.html' %}

{% block title %}Certificates{% endblock title %}

{% block main %}
    <div class="jumbotron"><div class="container">
        <h1>Certificates</h1>
        <hr/>
        <p>Learning is living</p>
    </div></div>
    <div class="container">
        {% for catetogory in categories %}
            <h2>{{ catetogory.name }}</h2>
            <p>{{ catetogory.description }}</p>
            <ul>
                {% for certificate in catetogory.certificates %}
                    <li>
                        <h3>{{ certificate.name }}</h3>
                        <a href="{{ certificate.id }}">
                            <p class="teaser-text"> {{ certificate.description |safe| truncatewords:35 }} </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock main %}

