.certificate-container {
    text-align: center;
    padding-bottom: 2em;
}

.certificate-image { width: 66%; }

.headerlink { visibility: hidden; }
h1:hover .headerlink{ visibility: visible; }
h2:hover .headerlink{ visibility: visible; }
h3:hover .headerlink{ visibility: visible; }
h4:hover .headerlink{ visibility: visible; }

