{% extends 'base/base.html' %}

{% block title %}Homepage of Elmar Hinz{% endblock title %}

{% block main %}
    <div class="container">
        <h1>Elmar Hinz</h1>
        <ul>
            <li><a href="/challenges.html">Bioinformatic Challenges</a></li>
            <li><a href="{% url 'certificates:list' %}">Certificates</a></li>
            <li><a href="/docs/PythonBlog/index.html">Python Blog</a></li>
            <li><a href="/docs/TYPO3/index.html">TYPO3 Blog</a></li>
        </ul>
    </div>
{% endblock main %}
