{% extends 'base/base.html' %}

{% block title %}{{ challenge.name }}{% endblock title %}

{% block main %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="">{{ challenge.name }}</h1>
            <hr/>
            <p>Run it right here!</p>
        </div>
    </div>
    <div class="container">
        <h2>Description</h2>
        <pre> {{ challenge.doc | safe }} </pre>
        <h3>Sample</h3>
        <pre> {{ challenge.sample | safe }} </pre>
        <h3>Expectation</h3>
        <pre> {{ challenge.expect | safe }} </pre>
        <p>
            <button type="button" class="js-run-tiny btn btn-primary">run tiny sample</button>
            {% if challenge.has_sample_file %}
                <button type="button" class="js-run-big btn btn-primary">run big sample</button>
            {% endif %}
        </p>
    </div>
    <div class="container">
        <dl>
            <dt>Input: <span class="js-input-length"></span></dt>
            <dd>
                <pre class="js-input"></pre>
            </dd>
            <dt>Output:</dt>
            <dd>
                <pre class="js-output"> </pre>
            </dd>
        </dl>
    </div>
{% endblock main %}

{% block javascript %}
    <script>
        $(".js-run-tiny").click(function () {
            $.ajax({
                url: '/challenges/ajax',
                data: {
                    path: '{{ challenge.path }}',
                    type: 'tiny',
                },
                dataType: 'json',
                success: function (data) {
                    if(data.cropped) {
                        $(".js-input-length").html(data.length + " characters cropped to " + data.cropped_to);
                    } else {
                        $(".js-input-length").html('')
                    }
                    $(".js-input").html(data.input);
                    $(".js-input").fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
                    $(".js-output").html(data.output);
                    $(".js-output").fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
                }
            });
        });
        $(".js-run-big").click(function () {
            $.ajax({
                url: '/challenges/ajax',
                data: {
                    path: '{{ challenge.path }}',
                    type: 'big',
                },
                dataType: 'json',
                success: function (data) {
                    if(data.cropped) {
                        $(".js-input-length").html(data.length + " characters cropped to " + data.cropped_to);
                    } else {
                        $(".js-input-length").html('')
                    }
                    $(".js-input").html(data.input);
                    $(".js-input").fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
                    $(".js-output").html(data.output);
                    $(".js-output").fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
                }
            });
        });
    </script>
{% endblock %}